[submodule "ubuntu-mingw"]
	path = ubuntu-mingw
	url = git@github.com:madduci/docker-ubuntu-mingw.git
[submodule "ubuntu-clang"]
	path = ubuntu-clang
	url = git@github.com:madduci/docker-ubuntu-clang.git
[submodule "ubuntu-gcc"]
	path = ubuntu-gcc
	url = git@github.com:madduci/docker-ubuntu-gcc.git
[submodule "ubuntu-opencv"]
	path = ubuntu-opencv
	url = git@github.com:madduci/docker-ubuntu-opencv.git
