[submodule "ubuntu-mingw"]
	path = base/cpp/ubuntu-mingw
	url = git@github.com:madduci/docker-ubuntu-mingw.git
[submodule "ubuntu-clang"]
	path = base/cpp/ubuntu-clang
	url = git@github.com:madduci/docker-ubuntu-clang.git
[submodule "ubuntu-gcc"]
	path = base/cpp/ubuntu-gcc
	url = git@github.com:madduci/docker-ubuntu-gcc.git
[submodule "ubuntu-opencv"]
	path = advanced/opencv/ubuntu-opencv
	url = git@github.com:madduci/docker-ubuntu-opencv.git
